.footer {
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: rgb(40, 167, 69);;
}

.transparent-bg-gray {
    background-color: rgb(211,211,211, 0.5)!important;
}

.background-light {
    background-color: #9b6515!important;
}

.background-dark {
    background-color: rgb(85, 56, 14)!important;
}

.transparent-bg-light {
    background-color: rgb(0,250,154, 0.5)!important;
}

.transparent-bg-dark {
    background-color: rgba(15, 77, 31, 0.75)!important;
}

.big-text {
    font-size: 32px!important;
}

.mid-text {
    font-size: 24px!important;
}

.blue-text{
    color: rgb(0,191,255)!important;
}

.container-fullscreen{
    padding-bottom: 11%;
    padding-top: 11%;
}