{% extends 'lab9/base.html' %}
{% load static %}

{% block title %}Homescreen{% endblock %}

{% block content %}
<style>
    body {
        background-image: url( "{% static 'lab9/images/RinjaniSunriseRandy.jpeg' %}" );
        background-size: cover; 
        height: 100%;
    }
</style>

<div class="container pt-5 pb-5">
    <div class="card mx-auto transparent-bg-gray" style="width: 100%;">
        <div class="card-body">
            <p class="card-text big-text">Welcome to my site, dear {{ user_login }}<br>
            <br>
            I am Randy<br>
            <br>
            Nothing but just a humble newbee front-end/back-end developer<br>
            Please continue to explore it<br>
            {% if user.is_authenticated %}
            {% else %}
                <br>
                For more access
                <a class="btn btn-outline-primary" href="{% url 'lab9:register' %}">Register Here</a>
            {% endif %}
            </p>
        </div>
    </div>
</div>
{% endblock %}