{% extends 'lab9/base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container pt-5 pb-5">
    <div class="container transparent-bg-gray pb-3 pt-3 rounded mx-auto">
        <div class="big-text pb-1">Register</div>
        <form id="form_register" method="POST">
            {% csrf_token %}    
            <div class="form-group">
                {{ form_register }} 
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>	
    </div>
</div>
{% endblock %}