{% extends 'lab9/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container pt-5 pb-5">
        <div class="container transparent-bg-gray pb-3 pt-3 rounded mx-auto">
            <div class="big-text pb-1">Login</div>
            <form id="form_login" method="POST">
                {% csrf_token %}    
                <div class="form-group">
                    {{ form }} 
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>	
        </div>
    </div>
{% endblock %}